* text=auto

*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.py text eol=lf
*.v text eol=lf
*.sv text eol=lf
*.do text eol=lf
*.qsf text eol=lf
*.qpf text eol=lf
*.sdc text eol=lf
*.mif text eol=lf
*.hex text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
